@model List<Song>
<section class="album-catagory section-padding-100-0">
    <div class="container">
        <h2>En Son Şarkılar</h2>
        <br />     <br />
        <div class="row">
            <div class="col-12">
                <div class="browse-by-catagories catagory-menu d-flex flex-wrap align-items-center mb-70">
                    <a href="#" data-filter="*">Tümünü Seç</a>
                    <a href="#" data-filter=".a" class="active">A</a>
                    <a href="#" data-filter=".b">B</a>
                    <a href="#" data-filter=".c">C</a>
                    <a href="#" data-filter=".d">D</a>
                    <a href="#" data-filter=".e">E</a>
                    <a href="#" data-filter=".f">F</a>
                    <a href="#" data-filter=".g">G</a>
                    <a href="#" data-filter=".h">H</a>
                    <a href="#" data-filter=".i">I</a>
                    <a href="#" data-filter=".j">J</a>
                    <a href="#" data-filter=".k">K</a>
                    <a href="#" data-filter=".l">L</a>
                    <a href="#" data-filter=".m">M</a>
                    <a href="#" data-filter=".n">N</a>
                    <a href="#" data-filter=".o">O</a>
                    <a href="#" data-filter=".p">P</a>
                    <a href="#" data-filter=".q">Q</a>
                    <a href="#" data-filter=".r">R</a>
                    <a href="#" data-filter=".s">S</a>
                    <a href="#" data-filter=".t">T</a>
                    <a href="#" data-filter=".u">U</a>
                    <a href="#" data-filter=".v">V</a>
                    <a href="#" data-filter=".w">W</a>
                    <a href="#" data-filter=".x">X</a>
                    <a href="#" data-filter=".y">Y</a>
                    <a href="#" data-filter=".z">Z</a>
                    <a href="#" data-filter=".number">0-9</a>
                </div>
            </div>
        </div>

        <div class="row oneMusic-albums">

            @foreach (var item in Model)
            {
                // İlk harfi al ve sınıf için uygun formata getir
                var firstChar = item.SongName[0].ToString().ToLower();
                string filterClass;

                if (char.IsDigit(firstChar[0]))
                {
                    filterClass = "number";
                }
                else if (char.IsLetter(firstChar[0]))
                {
                    filterClass = firstChar;
                }
                else
                {
                    filterClass = "other";
                }

                <!-- Single Album -->
                <div class="col-12 col-sm-4 col-md-3 col-lg-2 single-album-item @filterClass">
                    <div class="single-album">
                        <img style="width:200px;height:180px;" src="/images/@item.SongImageUrl" alt="">
                        <div class="album-info">
                            <a href="#">
                                <h5>@item.SongName</h5>
                            </a>
                            <p>@item.Album.AlbumName</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>