@model List<AppUser>

<style>
    .container-height {
        height: 660px;
        overflow: hidden;
    }

    .popular-artists-area {
        height: 100%;
        overflow: hidden;
    }
</style>

<div class="col-12 col-lg-4 container-height">
    <div class="popular-artists-area mb-100">
        <div class="section-heading text-left mb-50 wow fadeInUp" data-wow-delay="50ms">
            <p>Yenilikleri Gör</p>
            <h2>Popüler Şarkıcılar</h2>
        </div>
        @foreach (var item in Model)
        {
            <!-- Single Artist -->
            <div class="single-artists d-flex align-items-center wow fadeInUp" data-wow-delay="100ms">
                <div class="thumbnail">
                    <img src="/images/@item.ImageUrl" alt="">
                </div>
                <div class="content-">
                    <p>@item.Name @item.Surname</p>
                </div>
            </div>
        }
    </div>
</div>
