﻿<nav class="sidebar-nav scroll-sidebar" data-simplebar="">
    <ul id="sidebarnav">
        <li class="nav-small-cap">
            <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
            <span class="hide-menu">İşlemler</span>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" href="./index.html" aria-expanded="false">
                <span>
                    <i class="ti ti-layout-dashboard"></i>
                </span>
                <span class="hide-menu">Dashboard</span>
            </a>
        </li>

        <li class="sidebar-item">
            <a class="sidebar-link" href="/AdminAbout/Index" aria-expanded="false">
                <span>
                    <i class="ti ti-info-circle"></i>
                </span>
                <span class="hide-menu">Hakkımızda</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" href="/AdminContact/Index" aria-expanded="false">
                <span>
                    <i class="ti ti-info-square"></i>
                </span>
                <span class="hide-menu">İletişim</span>
            </a>
        </li>

        <li class="sidebar-item">
            <a class="sidebar-link" href="/AdminSinger/Index" aria-expanded="false">
                <span>
                    <i class="ti ti-microphone"></i>
                </span>
                <span class="hide-menu">Sanatçılar</span>
            </a>
        </li>

        <li class="sidebar-item">
            <a class="sidebar-link" href="/AdminAlbum/Index" aria-expanded="false">
                <span>
                    <i class="ti ti-album"></i>
                </span>
                <span class="hide-menu">Albümler</span>
            </a>
        </li>

        <li class="sidebar-item">
            <a class="sidebar-link" href="/AdminMessage/Index" aria-expanded="false">
                <span>
                    <i class="ti ti-message"></i>
                </span>
                <span class="hide-menu">Mesajlar</span>
            </a>
        </li>

        <li class="sidebar-item">
            <a class="sidebar-link" href="/Role/Index" aria-expanded="false">
                <span>
                    <i class="ti ti-user-circle"></i>
                </span>
                <span class="hide-menu">Roller</span>
            </a>
        </li>

        <li class="sidebar-item">
            <a class="sidebar-link" href="/RoleAssign/Index" aria-expanded="false">
                <span>
                    <i class="ti ti-robot"></i>
                </span>
                <span class="hide-menu">Rol Atama</span>
            </a>
        </li>

  
        <li class="sidebar-item">
            <a class="sidebar-link" href="/Login/LogOut" aria-expanded="false">
                <span>
                    <i class="ti ti-door-exit"></i>
                </span>
                <span class="hide-menu">Çıkış</span>
            </a>
        </li>
    </ul>

</nav>