
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/UILayout/Index.cshtml";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- Title -->
    <title>One Music - Modern Music HTML5 Template</title>

    <!-- Favicon -->
    <link rel="icon" href="~/one-music-gh-pages/img/core-img/favicon.ico">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="~/one-music-gh-pages/style.css">

</head>

<body>
    <!-- Preloader -->
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="lds-ellipsis">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    <!-- ##### Header Area Start ##### -->
    <!-- ##### Header Area End ##### -->
    <!-- ##### Breadcumb Area Start ##### -->
    <section class="breadcumb-area bg-img bg-overlay" style="background-image: url(/one-music-gh-pages/img/bg-img/breadcumb3.jpg);">
        <div class="bradcumbContent">
            <p>Neler Yeni</p>
            <h2>Albümler & Şarkılar</h2>
        </div>
    </section>
    <!-- ##### Breadcumb Area End ##### -->
    
    <!-- ##### Album Catagory Area Start ##### -->
    @await Component.InvokeAsync("_DefaultAlbumListComponent")


    <!-- ##### Album Catagory Area End ##### -->
    <!-- ##### Buy Now Area Start ##### -->
    @await Component.InvokeAsync("_DefaultAlbumSongChangeComponent" , new { p = 1 })
   
    <!-- ##### Buy Now Area End ##### -->
    <!-- ##### Add Area Start ##### -->
    <div class="add-area mb-100">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="adds">
                        <a href="/Register/Signup"><img style="width:1500px;height:700px;" src="https://i.hizliresim.com/qyyfutp.gif" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Add Area End ##### -->
    <!-- ##### Song Area Start ##### -->
    @await Component.InvokeAsync("_DefaultSongAlbumListComponent")
    <!-- ##### Song Area End ##### -->
    <!-- ##### Contact Area Start ##### -->
    @await Component.InvokeAsync("_DefaultMessageComponent")
    <!-- ##### Contact Area End ##### -->
    <!-- ##### Footer Area Start ##### -->
    <!-- ##### Footer Area Start ##### -->
    <!-- ##### All Javascript Script ##### -->

</body>

</html>

